/* Reset general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Enlaces */
a {
  text-decoration: none;
}

/* Estilos de la barra de navegación */
.nav {
  padding: 10px 20px;
  height: 100px;
  box-sizing: border-box;
}

.nav_list_logo {
  list-style: none;
  display: inline-block;
}

.nav_list_logo > a > img {
  width: 100px;
  border-radius: 10px;
  margin-right: 60px;
} 

.nav_list_links {
  display: inline-block;
}

.nav__item {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 90px;
}

.nav__item > a {
  color: #000;
}

.nav__item > a:hover {
  color: rgb(80, 199, 254);
}

/* Contenido de la cabecera */
.header__content {
  background-image: url("https://plus.unsplash.com/premium_photo-1661775756810-82dbd209fc95?q=80&w=3454&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
}

.header__title {
  color: #fff;
}

.header__buttons {
  margin-top: 30px;
}

.header__button {
  background-color: #fff;
  padding: 10px 20px;
  color: #000;
  border-radius: 5px;
}

.header__button:hover {
  background-color: #f3eeee;
  color: rgb(80, 199, 254);
}

/* Sección de habilidades */
.skills_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  color: rgb(4, 12, 24);
  margin-bottom: 20px;
}

.skills__list {
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}

.skills__item {
  margin-bottom: 20px;
  padding: 8px 15px;
  background-color: rgb(141, 206, 237);
  border-radius: 15px;
  text-align: center;
}

.skills__name {
  font-size: 20px;
}

.skills__description {
  font-size: 17px;
}

.skills__progress {
  background-color: #cee0f8;
  border-radius: 10px;
  height: 15px;
  margin-bottom: 8px;
}

.skills__progress-bar {
  background-color: #066bc9;
  height: 15px;
  width: 25%;
  border-radius: 10px;
}

/* Diferentes niveles de progreso */
.skills__progress-bar25 { width: 25%; }
.skills__progress-bar50 { width: 50%; }
.skills__progress-bar75 { width: 75%; }
.skills__progress-bar5  { width: 5%; }

/* Secciones generales */
.section__title {
  font-size: 30px;
  background-color: #1a4e7e;
  color: #fefeff;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 8px;
}

.sectionhome {
  background-color: #70a3d2;
  border-radius: 8px;
  margin-bottom: 30px;
  
  
}

.section__description {
  color: #062c50;
  padding-bottom: 10px;
  font-size: 15px;
}

/* Sección de proyectos */
.section_projects {
  background-color: #abd3f0;
  border-radius: 1%;
  margin-bottom: 30px;
  padding: 20px;
}

.section_title_projects_title {
  color: #03113b;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.project {
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  flex: 1 1 300px; /* Flex-grow, flex-shrink, y tamaño mínimo */
}

.project:hover {
  transform: scale(1.05);
  z-index: 1; /* Eleva el proyecto sobre los demás al hacer hover */
}

.project__image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #fdfeff;
}

.project__description {
  font-family: 'Arial', sans-serif;
  color: #f8f5f5;
  padding: 15px;
  font-size: 16px;
  background-color: #062c50;
  
}

@media (min-width: 600px) {
  .project {
    flex: 1 1 calc(50% - 20px); /* Ocupa 50% del ancho menos el gap */
  }
}

@media (min-width: 1024px) {
  .project {
    flex: 1 1 calc(33.33% - 20px); /* Ocupa un tercio del ancho menos el gap */
  }
}

body {
  background-color: #c1deed;
  padding: 20px;
}
